<div class = "tsux round">
  <p>
    This is essentially Wikipedia. Except the page topics <br/> are
    your friends, enemies, aquaintances, classmates, and even yourself.<br/> 
    Keep it classy. But not excessivley so.
  </p>
</div>
