<table class="nav_bar round">
  <tr>
    <td> <%= link_to "Home", '/' %></td>
  </tr>
  <tr>
    <td> <%= link_to "About", '/about' %></td>
  </tr>
  <tr>
    <td> <%= link_to "People", people_path %></td>
  </tr>
</table>
